
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&family=Lobster&family=Press+Start+2P&family=Permanent+Marker&family=Dancing+Script&family=Playfair+Display&family=Oswald&family=Raleway&family=Merriweather&family=Roboto&family=Open+Sans&family=Lato&family=Montserrat&family=Poppins&family=Nunito&family=Ubuntu&family=Righteous&family=Bebas+Neue&family=Titan+One&family=Fredoka+One&family=Boogaloo&family=Bangers&family=Chewy&family=Creepster&family=Special+Elite&family=Satisfy&family=Great+Vibes&family=Allura&family=Cinzel&display=swap" rel="stylesheet">
</head>
</html>